@use 'sass:color';
@use 'multilevel-nav/variables';
@use 'multilevel-nav/mixins';


//
// Index page base related styles
//

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-family: var(--mln-font-family-sans-serif);
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
    line-height: 1.4;
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

h1, h2 {
    letter-spacing: -.021rem;
}

strong {
    font-weight: 900;
}

pre {
    overflow: auto;
    width: 100%;
}

.clearfix:after {
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    content: " ";
    font-size: 0;
}

.l-demo-surround {
    padding: 3.75rem 1.875rem;
    color: #252525;

    &:after {
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        content: ' ';
        font-size: 0;
    }
}

.l-intro {
    margin-bottom: 3.75rem;
    text-align: center;
    font-size: 1rem;

    h1 {
        font-weight: 900;
        font-size: 2.5rem;
    }

    p {
        margin-bottom: 1.5rem;
    }

    @media (min-width: 768px) {
        h1 {
            font-size: 4rem;
        }
    }
}

//
// Status bar
//

.status-bar {
    padding: .063rem .25rem 0 .25rem;
    width: 100%;
    height: 1.250rem;
    background: #222;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.status-bar__time {
    color: #999;
    font-weight: 700;
    font-size: .688rem;
}

.symbol--cell {
    margin-right: .438rem;
    width: 0;
    height: 0;
    border-width: 0 0 .688rem .688rem;
    border-style: solid;
    border-color: transparent transparent #999 transparent;
}

.symbol--wifi {
    position: relative;
    display:inline-block !important;
    margin-right: .063rem;
    width: 0;
    height: 0;
    border-top: .625rem solid #999;
    border-right: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-radius: 100%;
}

.symbol--battery {
    margin-right: .313rem;
    width: .438rem;
    height: .625rem;
    background-color: #999;

    &:before {
        position: relative;
        display: block;
        margin-top: -.063rem;
        margin-left: .125rem;
        width: .188rem;
        height: .125rem;
        background-color: #999;
        content: '';
    }
}

//
// Browser
//

.browser {
    position: relative;
    width: 100%;
    background: #ececee;
}

.browser__utility {
    padding: .25rem;
}

.browser__address-bar {
    width: 100%;
    height: 1.625rem;
    border: .063rem solid #e2e2e4;
    border-radius: .188rem;
    background: white;
}

.browser__tab {
    position: absolute;
    top: .313rem;
    left: 1.25rem;
    display: none;
    overflow: visible;
    width: 11.375rem;
    height: 1.688rem;

    .browser__tab__border {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
        padding: .063rem .625rem;
        width: 100%;
        height: 100%;
        border: .063rem solid #d7d7d7;
        border-bottom: 0;
        border-radius: 0.188rem .188rem 0 0;
        background: #ececee;
    }

    .browser__tab__content {
        position: relative;
        z-index: 10;
        margin-top: .125rem;
        padding: .188rem .625rem;
        width: 100%;
        height: 1.563rem;
        display: flex;
        align-items: center;

        &:before {
            display: block;
            margin-right: .438rem;
            margin-left: .188rem;
            width: .8125rem;
            height: .8125rem;
            background: #ccc;
            background-size: 1rem;
            border-radius: 100px;
            content: '';
        }

        &:after {
            color: #888;
            content: 'Multilevel nav';
            font-weight: 400;
            font-size: .75rem;
        }
    }
}

.browser__circles, .browser__circles:before, .browser__circles:after {
    position: absolute;
    display: block;
    width: .25rem;
    height: .25rem;
    border-radius: 50%;
    background: #bab9b9;
}

.browser__circles {
    top: .938rem;
    right: .625rem;

    &:before, &:after {
        position: absolute;
        content: '';
    }

    &:before {
        top: -.375rem;
    }

    &:after {
        bottom: -.375rem;
    }
}

//
// Devices (phone, tablet and laptop)
//

.device {
    position: relative;
    margin: 0 auto 3.75rem;
    max-width: 20rem;
    width: 100%;

    &:after {
        position: absolute;
        top: .688rem;
        left: 3.75rem;
        display: block;
        width: .375rem;
        height: .375rem;
        border: solid .188rem #201d19;
        border-radius: 50%;
        background: #0f316c;
        content: '';
    }
}

.device__screen {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    padding: 1.875rem .438rem;
    border: .125rem solid #252525;
    border-radius: 1.375rem;
    background: black;

    &:before, &:after {
        position: absolute;
        left: 50%;
        margin-left: -3.875rem;
        width: 7.75rem;
        height: .375rem;
        border-radius: .313rem;
        background: #252525;
        content: '';
    }

    &:before {
        top: .75rem;
    }

    &:after {
        bottom: .75rem;
    }
}

.device__screen__inner {
  overflow: hidden;
  border-radius: .313rem;
}

.aspect-ratio {
    aspect-ratio: 9 / 16;
}

.device__lcd {
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    background: white;
}

.device__lcd__iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.device__body {
    position: absolute;
    bottom: -.313rem;
    left: 0;
    display: none;
    width: 100%;
    height: 1.75rem;
    border-radius: 1.563rem;
    background: #aeafb0;

    &:before, &:after {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 1.313rem;
        border-radius: .063rem;
        background: #d8d8d9;
        content: '';
    }

    &:before {
        left: 50%;
        z-index: 2;
        margin-left: -7%;
        width: 14%;
        height: .75rem;
        border-radius: 0 0 .625rem .625rem;
        background: color.adjust(#d8d8d9, $lightness: -12%);
    }
}

.device__glare {
    position: absolute;
    top: -18.75rem;
    left: 69%;
    z-index: 1;
    width: 50rem;
    height: 50rem;
    background: blue;
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    transform: rotate(-25deg);
    pointer-events: none;

    background: linear-gradient(to bottom, rgba(#fff, .25), rgba(#fff, 0));
}

.devices-tablet-mobile {
    overflow: hidden;
    margin: 0 auto;
    max-width: 55rem;
    height: 0;
    
    &:after {
        display: block;
        visibility: hidden;
        clear: both;
        height: 0;
        content: ' ';
        font-size: 0;
    }
    
    .device {
        margin-right: 5%;
        
        &:last-child {
            margin-right: 0;
        }
    }
}

.devices-tablet-mobile__helper {
    padding: 1.563rem 0;
    display: flex;
}

@media (min-width: 768px) {
    .device--md {
        margin: 0 auto 3.75rem;
        max-width: 30.188rem;

        &:after {
            top: 2.063rem;
            left: 50%;
            margin-left: -.188rem;
        }

        .symbol--cell {
            display: none;
        }

        .symbol--wifi {
            margin-right: .375rem;
        }

        .browser {
            padding-top: 1.875rem;
        }

        .browser__utility {
            border-top: .063rem solid #d7d7d7;
        }

        .browser__tab {
            display: block;
        }

        .device__screen {
            padding: 4.5rem .875rem;
            border-radius: 1.563rem;

            &:before {
                display: none;
            }

            &:after {
                bottom: .938rem;
                margin-left: -1.25rem;
                width: 2.5rem;
                height: 2.5rem;
                border-radius: 50%;
                background: #1d1d1d;
            }
        }

        .aspect-ratio {
            aspect-ratio: 3 / 4;
        }
    }
}

@media (min-width: 1200px) {
    .device--lg {
        padding: 0 10%;
        max-width: 87.5rem;

        &:after {
            top: 1.25rem;
        }

        .status-bar {
            display: none;
        }

        .browser__circles, .browser__circles:before, .browser__circles:after {
            width: .75rem;
            height: .75rem;
        }

        .browser__circles {
            top: .5rem;
            right: auto;
            left: 1.75rem;
            background: #edde45;

            &:before {
                top: auto;
                left: -1.188rem;
                background: #ea3556;
            }

            &:after {
                right: -1.188rem;
                bottom: auto;
                background: #90e7bb;
            }
        }

        .browser__tab {
            left: 6.25rem;
        }

        .device__screen {
            padding: 2.813rem 1.5rem 2rem;
            max-width: 68.75rem;
            border: .125rem solid #d2d2d2;

            &:after {
                display: none;
            }
        }

        .aspect-ratio {
            aspect-ratio: 16 / 9;
        }

        .device__body {
            display: block;
        }
    }

    .devices-tablet-mobile {
        overflow: hidden;
        height: auto;
    }
}

@media (min-width: 1370px) {
    .device--lg {
        &.device {
            padding: 0 1.875rem;
        }
    }
}

.options {
    margin: 0 auto 3.75rem;
    max-width: 55rem;
    text-align: left;

    &:last-child {
        margin-bottom: 0;
    }
}

.options__title {
    margin-bottom: 1.250rem;
}

.options__item {
    margin-bottom: 2.5rem;
    padding-left: 1.25rem;
    border-left: .063rem dotted color.adjust(#dfdfdf, $lightness: -5%);

    h4 {
        margin-top: 0;
    }

    code {
        display: inline-block;
        padding: .313rem;
        color: #AB1F03;
        font-size: .875rem;
        -webkit-text-size-adjust: 100%;
    }

    p code {
        font-size: 1.1rem;
    }
}


//
// Examples and demo related styles
//

.mln {
    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }

        &.active {
            font-weight: bold;
        }
    }
}

.logo-placeholder {
    position: relative;
    overflow: hidden;
    margin-top: .813rem;
    margin-left: .75rem;
    height: 1.313rem;
    z-index: 11;
    padding-left: 45px;
    color: white;
    font-weight: bold;

    &:before,
    &:after {
        position: absolute;
        display: block;
        width: 2.1rem;
        height: 2.1rem;
        border-radius: .063rem;
        background-color: currentColor;
        content: '';
        transform: rotate(45deg);
    }

    &:before {
        top: .625rem;
        left: .063rem;
    }

    &:after {
        top: 1.125rem;
        left: -.438rem;
    }
}

.logo-placeholder__sun {
    position: absolute;
    top: 0;
    left: 0;
    width: .563rem;
    height: .563rem;
    border-radius: 50%;
    background-color: #fff;
}

.page__content {
    margin-right: auto;
    margin-left: auto;
    padding: 1.25rem;

    > :first-child {
        margin-top: 0;
    }
}

.col-wrapper {
    margin-right: -.625rem;
    margin-left: -.625rem;
}

.col {
    margin-bottom: 2.5rem;
    padding-right: .625rem;
    padding-left: .625rem;
}

.skeleton__box {
    margin-bottom: .625rem;
    padding: .625rem;
    min-height: 11.250rem;
    width: 100%;
    background-color: color.adjust(#dfdfdf, $lightness: 5%);
}

.skeleton__title,
.skeleton__paragraph {
    display: inline-block;
    margin-bottom: .3rem;
    height: 3em;
    background-color: #dfdfdf;
    user-select: none;
}

.skeleton__paragraph {
    height: .7em;
    background-color: color.adjust(#dfdfdf, $lightness: 5%);
    color: color.adjust(#dfdfdf, $lightness: 5%);
}

.heading-placeholder {
    display: inline-block;
    padding: var(--mln-padding-menu-item);
    height: var(--mln-height-menu-item);
    color: white;
    line-height: 1.6;
}

@media (min-width: #{variables.$mln-breakpoint}) {
    .col-wrapper {
        display: flex;
        flex-wrap: wrap;
    }

    .col--3 {
        width: 25%;
    }

    .col--4 {
        width: 33.33333%;
    }

    .col--6 {
        width: 50%;
    }

    .col--8 {
        width: 66.66666%;
    }

    .skeleton__box {
        min-height: 17.5rem;
    }

    .mln__child__mega-menu {
        .col {
            margin-bottom: 0;
        }
    }
}










.oc-demo {
    .oc-nav__toggle {
        border-radius: 4px;
        padding: 8px;
        border: 0;
        background: var(--mln-color-menu-primary);
    }

    .oc-nav__toggle-hamburger {
        display: flex;
        flex-direction: column;
        width: 20px;
        height: 16px;
        justify-content: space-between;
        gap: 3px;
        padding: 0;

        span {
            display: block;
            height: 2px;
            background-color: white;
            transition: all 0.3s ease;
            border-radius: 2px;
        }
    }

    .logo-placeholder {
        margin: 0;
        z-index: 1;
    }

    .oc-tophat {
        background-color: var(--mln-color-menu-primary);

        .oc-nav__container {
            justify-content: flex-end;
            padding-top: 0;
            padding-bottom: 0;
        }

        ul {
            list-style-type: none;
            display: flex;
            gap: 15px;
            padding: 8px 10px;
            margin: 0;
        }

        a {
            color: white;
        }
    }

    .oc-nav__container {
        padding: 8px 10px;
    }
}