@use 'sass:color';
@use 'variables';

//
// Base styling
//

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

:root {
    --mln-color-menu-primary: #{variables.$color-menu-primary};
    --mln-color-menu-primary-hover: #{color.adjust(variables.$color-menu-primary, $lightness: -5%)};
    --mln-color-menu-primary-focus: #{color.adjust(variables.$color-menu-primary, $lightness: -10%)};
    --mln-color-menu-link: #{variables.$color-menu-link};
    --mln-color-burger-bar: #{variables.$color-burger-bar};
    --mln-color-mega-menu-bg: #{variables.$color-mega-menu-bg};
    --mln-color-toggle: #{variables.$color-toggle};
    --mln-color-backdrop: #{variables.$color-backdrop};
    --mln-color-slide-over-slide-title: #{variables.$color-slide-over-slide-title};

    // Opacity
    --mln-opacity-backdrop: #{variables.$opacity-backdrop};

    // Transition
    --mln-transition-speed-child-menu: #{variables.$transition-speed-child-menu};
    --mln-transition-speed-mega-menu: #{variables.$transition-speed-mega-menu};
    --mln-transition-speed-slide-over-height: #{variables.$transition-speed-slide-over-height};
    --mln-transition-ease-child-menu: #{variables.$transition-ease-child-menu};
    --mln-transition-ease-slide-over-height: var(--mln-transition-ease-child-menu);
    --mln-transition-ease-mega-menu: var(--mln-transition-ease-child-menu);
    --mln-transition-speed-expander: var(--mln-transition-speed-child-menu);
    --mln-transition-ease-expander: var(--mln-transition-ease-child-menu);

    // Screen widths
    --mln-breakpoint: 768px;

    // Font/text related
    --mln-font-family-sans-serif: #{variables.$font-family-sans-serif};
    --mln-font-size-slide-title: #{variables.$font-size-slide-title};

    // Sizes and spacing
    --mln-padding-top-menu-item: #{variables.$padding-top-menu-item};
    --mln-padding-right-menu-item: #{variables.$padding-right-menu-item};
    --mln-padding-bottom-menu-item: #{variables.$padding-bottom-menu-item};
    --mln-padding-left-menu-item: #{variables.$padding-left-menu-item};
    --mln-padding-menu-item: var(--mln-padding-top-menu-item) var(--mln-padding-right-menu-item) var(--mln-padding-bottom-menu-item) var(--mln-padding-left-menu-item);
    --mln-padding-menu-item-inset: #{variables.$padding-menu-item-inset};
    --mln-padding-mega-outer: #{variables.$padding-mega-outer};
    --mln-margin-bottom-back-button: #{variables.$margin-bottom-back-button};
    --mln-height-menu-item: #{variables.$height-menu-item};
    --mln-height-expander: #{variables.$height-expander};
    --mln-height-navbar: #{variables.$height-navbar};
    --mln-width-toggle-button: #{variables.$width-toggle-button};
    --mln-width-slide-over-width: #{variables.$width-slide-over-width};
    --mln-height-toggle-button: #{variables.$height-toggle-button};
    --mln-space-between-anchor-and-toggler: calc(var(--mln-padding-right-menu-item) * 0.5);

    // Chevron toggle symbol specifics
    --mln-width-toggle-symbol-chevron: #{variables.$width-toggle-symbol-chevron};
    --mln-height-toggle-symbol-chevron: #{variables.$height-toggle-symbol-chevron};

    
    
    //
    // Off canvas
    //
    --mln-width-off-canvas: var(--mln-width-slide-over-width);



    //
    // Variables above breakpoint width
    //

    // Sizes and spacing
    @media (min-width: #{variables.$mln-breakpoint}) {
        --mln-margin-right-navbar-list-item: .5rem;
        --mln-width-child-menu: 12.5rem;
    }
}
